@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
}

a {
  text-decoration: none;
}

.conteiner {
  width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.navigation {
  display: flex;
  align-items: center;
  height: 80px;
}

.logo {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  color: #2196f3;
}

.span {
  color: #000000;
}

.nav-ul {
  font-family: Roboto;
  font-weight: Medium;
  font-size: 14px;
  display: flex;
  margin-left: 50px;
  align-items: center;
}

.nav-li {
  margin: 20px;
  color: #212121;
  font-family: "Roboto";
}

.nav-li:hover {
  color: #2196f3;
  cursor: pointer;
  transition: 250ms;
}

.nav-li-stydio {
  color: #2196f3;
}

.nav-li-a-stydio {
  color: #2196f3;
  position: relative;
}

.nav-li-a-stydio::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  top: 44px;
  background-color: #2196f3;
  border-radius: 2px;
  transition: top 250ms, transform 250ms;
}

.nav-li-a-stydio:hover::after {
  top: 41px;
  transform: scale(1.2);
}

.a-nav {
  color: #212121;
}

.a-nav:hover {
  color: #2196f3;
  cursor: pointer;
  transition: 250ms;
}

.info {
  font-family: Roboto;
  font-weight: Medium;
  font-size: 14px;
  display: flex;
  margin-left: 250px;
  align-items: center;
}

.info-li {
  margin: 20px;
  display: flex;
  align-items: center;
}

.info-li:hover {
  fill: #2196F3;
  color: #2196F3;
  transition: 250ms;
}

.info-li-a {
  display: flex;
  align-items: center;
  color: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.info-li-a:hover {
  color: #2196f3;
  cursor: pointer;
}
.info-li-a:hover .svg-envelope {
  fill: #2196F3;
}
.info-li-a:hover .svg-smartphone {
  fill: #2196F3;
}

.svg-envelope {
  width: 18px;
  height: 14px;
  margin-right: 10px;
  fill: #757575;
  transition: fill 250ms;
}

.svg-envelope:hover {
  fill: #2196F3;
}
.svg-envelope:hover .info-li-a {
  color: #2196F3;
}

.svg-smartphone {
  width: 18px;
  height: 14px;
  margin-right: 10px;
  fill: #757575;
  transition: fill 250ms;
}

.svg-smartphone:hover {
  fill: #2196F3;
}

.section-1 {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(./img/Img.webp);
  padding-top: 200px;
  padding-bottom: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.center {
  text-align: center;
}

.h1-section1 {
  font-family: Roboto;
  font-weight: Black;
  font-size: 44px;
  text-align: center;
  color: #ffffff;
}

.button-section1 {
  font-size: 16px;
  margin: 0 auto;
  width: 216px;
  height: 50px;
  border-radius: 5px 5px 5px 5px;
  background-color: #2196f3;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  margin-top: 30px;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.button-section1:hover {
  box-shadow: 0px 1px 3px rgba(255, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.section-2 {
  padding-top: 94px;
  padding-bottom: 94px;
}

.ul-section2 {
  display: flex;
  margin-right: 10px;
}

.li-section2::before {
  content: "";
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 30px;
}

.li-section2:not(:last-child) {
  margin-right: 30px;
}

.li-svg-1::before {
  background-image: url(./img/antenna\ 1.svg);
}

.li-svg-2::before {
  background-image: url(./img/clock\ 1.svg);
}

.li-svg-3::before {
  background-image: url(./img/diagram\ 1.svg);
}

.li-svg-4::before {
  background-image: url(./img/astronaut\ 1.svg);
}

.b-li-section2 {
  font-family: Roboto;
  font-weight: Bold;
  font-size: 14px;
  margin-right: 10px;
}

.p-li-section2 {
  margin-top: 10px;
  color: #757575;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
}

.section3 {
  height: 440px;
}

.h2-section3 {
  font-family: Roboto;
  font-weight: Bold;
  font-size: 36px;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.ul-section3 {
  display: flex;
}

.li-section3 {
  margin: 10px;
}

.s3-div {
  position: relative;
  width: 370px;
  margin: 0 auto;
}

.s3-p {
  background-color: rgba(47, 48, 58, 0.8);
  position: absolute;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  bottom: 0px;
  width: 370px;
}

.s3-p-1 {
  padding: 27px 107px;
}

.s3-p-2 {
  padding: 27px 105px;
}

.s3-p-3 {
  padding: 27px 90px;
}

.img-section3 {
  width: 370px;
  height: 294px;
  display: block;
}

.section-4 {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}

.h2-section4 {
  font-family: Roboto;
  font-weight: Bold;
  font-size: 36px;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.ul-section4 {
  display: flex;
  padding: 0px;
}

.li-section4 {
  background-color: #ffffff;
  padding-bottom: 30px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
}

.li-section4:not(:last-child) {
  margin-right: 30px;
}

.img-section4 {
  width: 270px;
  height: 260px;
  margin-bottom: 30px;
}

.p-name-section4 {
  font-family: Roboto;
  font-weight: Medium;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 10px;
  color: #212121;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.48px;
}

.p-work-section4 {
  font-family: Roboto;
  font-size: 16px;
  color: #757575;
  margin-bottom: 16px;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.48px;
}

.svg-ul {
  display: flex;
  justify-content: space-evenly;
}

.li-svg-s4 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.li-svg-s4:hover {
  background-color: #2196f3;
}

.li-svg-s4:hover .svg-all {
  fill: #ffffff;
}

.a-svg-s4 {
  text-decoration: none;
  padding: 12px;
}

.svg-all {
  fill: #afb1b8;
}

.svg-instagram {
  width: 20px;
  height: 20px;
}

.svg-twitter {
  width: 20px;
  height: 20px;
}

.svg-facebook {
  width: 20px;
  height: 20px;
}

.svg-linkedin {
  width: 20px;
  height: 20px;
}

.section-5 {
  padding-top: 94px;
  padding-bottom: 94px;
}

.h2-s5 {
  display: flex;
  justify-content: center;
  /* Постійні клієнти */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.ul-s5 {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.li-s5 {
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 170px;
  height: 92px;
  fill: #afb1b8;
  transition: border 500ms cubic-bezier(0.4, 0, 0.2, 1), fill 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.li-s5:hover {
  border: 1px solid #2196f3;
  fill: #2196f3;
  cursor: pointer;
}

.svg-group1:hover {
  fill: #2196f3;
}

.svg-group1 {
  width: 106px;
  height: 60px;
  margin-top: 16px;
  margin-left: 32px;
}

.svg-group2 {
  width: 106px;
  height: 60px;
  margin-top: 16px;
  margin-left: 32px;
}

.svg-group3 {
  width: 106px;
  height: 60px;
  margin-top: 16px;
  margin-left: 32px;
}

.svg-group4 {
  width: 106px;
  height: 60px;
  margin-top: 16px;
  margin-left: 32px;
}

.svg-group5 {
  width: 106px;
  height: 60px;
  margin-top: 16px;
  margin-left: 32px;
}

.svg-group6 {
  width: 106px;
  height: 60px;
  margin-top: 16px;
  margin-left: 32px;
}

footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.div-foot {
  display: flex;
}

.div-foot-x2 {
  margin-right: 70px;
}

.logo2 {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  color: #2196f3;
}

.span-2 {
  color: #ffffff;
}

.address {
  margin-top: 20px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  color: #ffffff;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.mail {
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  margin-top: 10px;
}

.tel {
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  margin-top: 10px;
}

.address-li-a {
  color: rgba(255, 255, 255, 0.6);
}

.address-li-a:hover {
  color: #ffffff;
  cursor: pointer;
}

.h2-foot-svg {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  padding-bottom: 20px;
}

.svg-ul-2 {
  display: flex;
}

.li-svg-s4-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: #3d454c;
  border-radius: 50%;
}

.li-svg-s4-2:hover .svg-all-2 {
  fill: #ffffff;
  transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.li-svg-s4-2:hover {
  background-color: #2196f3;
  border-radius: 50%;
}

.li-svg-s4-2:not(:last-child) {
  margin-right: 10px;
}

.a-svg-s4-2 {
  text-decoration: none;
  padding: 12px;
  padding-top: 15px;
}

.svg-all-2 {
  fill: #ffffff;
}

.footer-div-rossulka {
  margin-left: 93px;
}

.rosulka-p {
  width: 207px;
  height: 16px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}

.rosulka-input {
  margin-top: 20px;
  width: 358px;
  height: 50px;
  border: 1.5px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: #2f303a;
  padding-left: 16px;
}

.rosulka-input:focus {
  outline: 0px solid;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.a-button-footer {
  align-items: center;
}

.rosulka-button {
  margin-left: 12px;
  margin-top: 20px;
  width: 200px;
  height: 50px;
  background-color: #2196f3;
  position: absolute;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  align-items: center;
  color: #ffffff;
  border-radius: 4px;
  transition: box-shadow 500ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-right: 28px;
}

.rosulka-button:hover {
  box-shadow: 1px 0px 24px -3px rgba(0, 0, 0, 0.75);
  cursor: pointer;
}

.svg-send {
  width: 24px;
  height: 24px;
  align-items: center;
  position: absolute;
  margin-left: 10px;
  margin-top: 2px;
}

.backdrop {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  display: block;
  animation-name: backdropBot;
  animation-duration: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  animation-direction: alternate;
}

@keyframes backdropBot {
  0% {
    top: 100%;
    opacity: 0;
  }
  100% {
    top: 0%;
    opacity: 1;
  }
}
@keyframes modalTop {
  0% {
    top: -100%;
    opacity: 0;
  }
  100% {
    bottom: 0%;
    opacity: 1;
  }
}
.is-hidden {
  display: none;
  pointer-events: none;
}

.modal {
  width: 528px;
  height: 581px;
  background-color: #ffffff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
  position: fixed;
  animation-name: modalTop;
  animation-duration: 250ms;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  animation-direction: alternate;
  border-radius: 2px;
  padding-top: 40px;
  padding-bottom: 40px;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.modal:hover {
  box-shadow: 0px 1px 3px rgba(255, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.close-button {
  background-color: #ffffff;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 5px;
  right: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.close-button:hover .modal-close-svg {
  fill: #2196f3;
  cursor: pointer;
}

.modal-close-svg {
  top: 0;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  width: 18px;
  height: 18px;
  transition: fill 250ms linear cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-h3 {
  display: flex;
  justify-content: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 10px;
}

.form-modal {
  margin-top: 12px;
  margin-bottom: 20px;
  margin: 0 auto;
  width: 448px;
}

.div-modal {
  position: relative;
  margin-bottom: 10px;
}

.modal-name {
  width: 22px;
  height: 14px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
}

.person-black {
  width: 18px;
  height: 18px;
  position: absolute;
  z-index: 2;
  bottom: 12px;
  left: 15px;
}

.person-black:hover {
  fill: #2196f3;
}

.modal-input-1 {
  box-sizing: border-box;
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
}

.modal-input-1:focus {
  outline: 2px solid #2196f3;
}

.modal-phone {
  width: 50px;
  height: 14px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
}

.phone-black {
  width: 18px;
  height: 18px;
  position: absolute;
  z-index: 2;
  bottom: 12px;
  left: 15px;
}

.phone-black:hover {
  fill: #2196f3;
}

.modal-input-2:focus {
  outline: 2px solid #2196f3;
}

.modal-input-2 {
  box-sizing: border-box;
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
}

.modal-email {
  width: 38px;
  height: 14px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
}

.email-black {
  width: 18px;
  height: 18px;
  position: absolute;
  z-index: 2;
  bottom: 12px;
  left: 15px;
}

.email-black:hover {
  fill: #2196f3;
}

.modal-input-3:focus {
  outline: 2px solid #2196f3;
}

.modal-input-3 {
  box-sizing: border-box;
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
}

.modal-comm {
  width: 57px;
  height: 14px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #757575;
  margin-bottom: 4px;
}

.textarea-modal {
  box-sizing: border-box;
  width: 448px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: rgba(117, 117, 117, 0.5);
  resize: none;
}

.textarea-modal:focus {
  outline: 2px solid #2196f3;
}

.div-input-3000pro {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 30px;
}

.input-checkbox {
  width: 16px;
  height: 15px;
}

.input-checkbox:hover {
  cursor: pointer;
}

.p-checkbox {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #757575;
  padding-left: 7px;
}

.a-input-3000pro {
  text-decoration: underline;
  color: #2196f3;
}

.button-form {
  transition: box-shadow 500ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 200px;
  height: 50px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  display: block;
  align-items: center;
  text-align: center;
  color: #ffffff;
  background-color: #188ce8;
  padding-left: 52px;
  padding-right: 52px;
  margin: 0 auto;
  border-radius: 4px;
}

.button-form:hover {
  cursor: pointer;
  box-shadow: 0px 7px 37px -6px rgba(0, 0, 0, 0.75);
}

.svg-antenna {
  width: 70px;
  height: 70px;
  display: flex;
}

.svg-clock {
  width: 70px;
  height: 70px;
  display: flex;
}

.svg-diagram {
  width: 70px;
  height: 70px;
  display: flex;
}

.svg-astronaut {
  width: 70px;
  height: 70px;
  display: flex;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
}

a {
  text-decoration: none;
}

.conteiner {
  width: 480px;
  margin: 0 auto;
  padding: 0 15px;
}
@media screen and (min-width: 768px) {
  .conteiner {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .conteiner {
    width: 1170px;
  }
}

.navigation {
  display: flex;
  align-items: center;
  height: 80px;
}

.logo {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  color: #2196f3;
}

.span {
  color: #000000;
}

.nav-ul {
  font-family: Roboto;
  font-weight: Medium;
  font-size: 14px;
  display: flex;
  margin-left: 50px;
  align-items: center;
}

.nav-li {
  margin: 20px;
  color: #212121;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-li:hover {
  color: #2196f3;
  cursor: pointer;
}

.a-nav {
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.a-nav:hover {
  color: #2196f3;
  cursor: pointer;
}

.nav-li-port {
  color: #2196f3;
}

.nav-a-portfolio {
  color: #2196f3;
  position: relative;
}

.nav-a-portfolio::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  top: 44px;
  background-color: #2196f3;
  border-radius: 2px;
  transition: top 250ms, transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-a-portfolio:hover::after {
  top: 41px;
  transform: scale(1.2);
}

.info {
  font-family: Roboto;
  font-weight: Medium;
  font-size: 14px;
  display: flex;
  margin-left: 250px;
  align-items: center;
}

.info-li {
  margin: 20px;
  display: flex;
  align-items: center;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.info-li:hover {
  fill: #2196f3;
  color: #2196f3;
}

.info-li-a {
  color: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.info-li-a:hover {
  color: #2196f3;
  cursor: pointer;
}

.svg-envelope {
  width: 18px;
  height: 14px;
  margin-right: 10px;
  fill: #757575;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.svg-envelope:hover {
  fill: #2196F3;
}
.svg-envelope:hover .info-li-a {
  color: #2196F3;
}

.svg-envelope:hover {
  fill: #2196f3;
}

.svg-smartphone {
  width: 18px;
  height: 14px;
  margin-right: 10px;
  fill: #757575;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.svg-smartphone:hover {
  fill: #2196F3;
}

.info-li-a:hover {
  color: #2196f3;
  cursor: pointer;
}
.info-li-a:hover .svg-envelope {
  fill: #2196F3;
}
.info-li-a:hover .svg-smartphone {
  fill: #2196F3;
}

.svg-all-2 {
  fill: #ffffff;
}

.a-svg-s4 {
  text-decoration: none;
  padding: 12px;
  padding-top: 15px;
}

.svg-ul-2 {
  display: flex;
}

.li-svg-s4-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: #3d454c;
  border-radius: 50%;
}

.li-svg-s4-2:hover .svg-all-2 {
  fill: #ffffff;
}

.a-svg-s4-2 {
  text-decoration: none;
  padding: 12px;
  padding-top: 15px;
  transition: background-color 500ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.li-svg-s4-2:hover {
  background-color: #2196f3;
  border-radius: 50%;
}

.li-svg-s4-2:not(:last-child) {
  margin-right: 10px;
}

.logo2 {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  color: #2196f3;
}

.span-2 {
  color: #ffffff;
}

.address {
  margin-top: 20px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  color: #ffffff;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */
  letter-spacing: 0.03em;
  color: #ffffff;
}

.address-li-a {
  color: rgba(255, 255, 255, 0.6);
}

.address-li-a:hover {
  color: #ffffff;
  cursor: pointer;
}

.mail {
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  margin-top: 10px;
}

.tel {
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  margin-top: 10px;
}

footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.svg-all {
  fill: #afb1b8;
}

.svg-instagram {
  width: 20px;
  height: 20px;
}

.svg-twitter {
  width: 20px;
  height: 20px;
}

.svg-facebook {
  width: 20px;
  height: 20px;
}

.svg-linkedin {
  width: 20px;
  height: 20px;
}

.h2-foot-svg {
  /* приєднуйтесь */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  padding-bottom: 20px;
}

.div-foot {
  display: flex;
}

.div-foot-x2 {
  margin-right: 70px;
}

.header {
  border-bottom: 1px solid #ececec;
}

.footer-div-rossulka {
  margin-left: 93px;
}

.rosulka-p {
  width: 207px;
  height: 16px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}

.rosulka-input {
  margin-top: 20px;
  width: 358px;
  height: 50px;
  border: 1.5px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: #2f303a;
  padding-left: 16px;
}

.rosulka-input:focus {
  outline: 0px solid;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.rosulka-button {
  margin-left: 12px;
  margin-top: 20px;
  width: 200px;
  height: 50px;
  background-color: #2196f3;
  position: absolute;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  align-items: center;
  color: #ffffff;
  border-radius: 4px;
  transition: box-shadow 500ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-right: 28px;
}

.rosulka-button:hover {
  box-shadow: 1px 0px 24px -3px rgba(0, 0, 0, 0.75);
  cursor: pointer;
}

.svg-send {
  width: 24px;
  height: 24px;
  align-items: center;
  position: absolute;
  margin-left: 10px;
  margin-top: 2px;
}

.a-button-footer {
  align-items: center;
}

/* ------------------------------------------------------------------------------------------------------------- */
.section-1 {
  margin-top: 94px;
  margin-bottom: 94px;
}

.s1-ul {
  display: flex;
  justify-content: center;
  margin-top: 94px;
  margin-bottom: 50px;
}

.s1-li:not(:first-child) {
  margin-left: 8px;
}

.s1-btn {
  display: block;
  background-color: #F5F4FA;
  border-radius: 4px;
  color: #212121;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.48px;
  padding: 6px 22px 6px 22px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms, background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.s1-btn-active {
  padding: 6px 25px 6px 25px;
  color: #212121;
  background-color: #F5F4FA;
}

.s1-btn:hover {
  cursor: pointer;
  background-color: #2196F3;
  color: #ffffff;
  box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.1), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
}

.galerry {
  display: grid;
  grid-template-columns: repeat(3, 370px);
  grid-template-rows: repeat(3, 404px);
  gap: 30px;
}

.galerry-div-p {
  padding: 20px 24px;
}

.galerry-img {
  width: 370px;
  height: 294px;
}

.img-and-p {
  position: relative;
  overflow: hidden;
}

.gallery-img-p {
  position: absolute;
  color: #FFF;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.54px;
  top: 0;
  right: 0;
  padding: 63px 24px 63px 24px;
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  opacity: 0;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.galerry-li:hover .gallery-img-p {
  transform: translateY(0%);
  opacity: 1;
}

.galerry-p {
  margin-bottom: 4px;
  color: #212121;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 1.08px;
}

.galerry-p1 {
  color: #757575;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 187.5% */
  letter-spacing: 0.48px;
}

.galerry-li {
  border: 1px solid #EEE;
  background: #FFF;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.galerry-li:hover {
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 1px 4px 6px 0px rgba(0, 0, 0, 0.16);
}