* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
}
a {
  text-decoration: none;
}
.conteiner {
  width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}
.navigation {
  display: flex;
  align-items: center;
  height: 80px;
}
.logo {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  color: #2196f3;
}
.span {
  color: #000000;
}
.nav-ul {
  font-family: Roboto;
  font-weight: Medium;
  font-size: 14px;
  display: flex;
  margin-left: 50px;
  align-items: center;
}
.nav-li {
  margin: 20px;
  color: #212121;
}
.nav-li:hover {
  color: #2196f3;
  cursor: pointer;
  transition: 250ms;
}
.a-nav{
  color: #212121;
}
.a-nav:hover{
    color: #2196f3;
  cursor: pointer;
      transition: 250ms;
}
.nav-li-port{
      color: #2196f3;
}
.nav-a-portfolio{
color: #2196f3;
position: relative;
}
.nav-a-portfolio::after{
  content:"" ;
  display: block;
  position:absolute;
  width: 100%;
  height: 4px;
  top: 44px;
  background-color: #2196f3;
  border-radius: 2px;
  transition:top 250ms,transform 250ms;
}
.nav-a-portfolio:hover::after{
top: 41px;
transform: scale(1.2);
}
.info {
  font-family: Roboto;
  font-weight: Medium;
  font-size: 14px;
  display: flex;
  margin-left: 250px;
  align-items: center;
}
.info-li {
  margin: 20px;
  display: flex;
  align-items: center;
}
.info-li:hover{
  fill: #2196F3;
  color: #2196F3;
      transition: 250ms;
}
.info-li-a {
  color: #757575;
}
.info-li-a:hover {
  color: #2196f3;
  cursor: pointer;
      transition: 250ms;
}
.svg-envelope{
  width:18px ;
  height:14px ;
  margin-right: 10px;

}
.svg-envelope:hover{
  fill: #2196F3;
}
.svg-smartphone{
width: 18px;
height: 14px;
margin-right: 10px;
}

.svg-smartphone:hover{
fill: #2196F3;
}
.svg-all-2{
  fill: #FFFFFF;
}
.a-svg-s4{
text-decoration: none;
padding: 12px;
padding-top: 15px;
}
.svg-ul-2{
  display: flex;
}
.li-svg-s4-2{
    display: flex;
  justify-content: center;
  align-items: center; 
  width: 44px;
  height: 44px;
  background-color: #3d454c;
  border-radius: 50%;
}
.li-svg-s4-2:hover .svg-all-2{
fill: #FFFFFF;
}
.a-svg-s4-2{
  text-decoration: none;
padding: 12px;
padding-top: 15px;
}
.li-svg-s4-2:hover{
  background-color: #2196F3;
  border-radius: 50%;
    transition: 500ms;
}
.li-svg-s4-2:not(:last-child){
  margin-right: 10px;
}
.logo2 {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  color: #2196f3;
}
.span-2 {
  color: #ffffff;
}
.address {
    margin-top: 20px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  color: #ffffff;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */
  letter-spacing: 0.03em;
  color: #ffffff;
}
.address-li-a {
  color: #ffffff99;
}
.address-li-a:hover {
  color: #FFFFFF;
  cursor: pointer;
}
.mail {
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  margin-top: 10px;
}
.tel {
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  margin-top: 10px;
}
footer {
  background-color: #2f303a;
   padding-top: 60px;
   padding-bottom: 60px;
}
.svg-all{
  fill: #AFB1B8;
}
.svg-instagram{
  width: 20px;
  height: 20px;
}
.svg-twitter{
  width: 20px;
  height: 20px;
}
.svg-facebook{
  width: 20px;
  height: 20px;
}
.svg-linkedin{
  width: 20px;
  height: 20px;
}
.h2-foot-svg{
  /* приєднуйтесь */
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #FFFFFF;
padding-bottom: 20px;
}
.div-foot{
display: flex;

}
.div-foot-x2{
  margin-right: 70px;
}
.header{
border-bottom: 1px solid #ECECEC;
}
.footer-div-rossulka{
margin-left: 93px;
}
.rosulka-p{
width: 207px;
height: 16px;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;
color: #FFFFFF;
}
.rosulka-input{
margin-top: 20px;
width: 358px;
height: 50px;
border: 1.5px solid rgba(255, 255, 255, 0.3);
border-radius: 4px;
background-color: #2F303A;
padding-left: 16px;
transition: 500ms;
}
.rosulka-input:hover{

}
.rosulka-input:focus{
  outline:0px solid ;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}
.rosulka-button{
  margin-left: 12px;
margin-top: 20px;
width: 200px;
height: 50px;
background-color: #2196F3;
position: absolute;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 30px;
text-align: center;
align-items: center;
color: #FFFFFF;
border-radius: 4px;
transition:box-shadow 500ms;
padding-right: 28px;
}
.rosulka-button:hover{
-webkit-box-shadow: 1px 0px 24px -3px rgba(0,0,0,0.75);
-moz-box-shadow: 1px 0px 24px -3px rgba(0,0,0,0.75);
box-shadow: 1px 0px 24px -3px rgba(0,0,0,0.75);
    cursor: pointer;
}
.svg-send{
  width: 24px;
  height: 24px;
  align-items: center;
  position: absolute;
  margin-left: 10px;
  margin-top: 2px;
}
.a-button-footer{
align-items: center;
}
/* ------------------------------------------------------------------------------------------------------------- */
.section-1{
  margin-top: 94px;
  margin-bottom: 94px;
}