​/* * - універсальний селектор - дозволяє обрати всі елементи на сторінці -  */
* {
    /* Зовнішній відступ або відступ від обʼєкту */
    margin: 0;
    /* Внутрішній відступ */
    padding: 0;
    /* кордони */
    border: 0;
    /* box-sizing - розраховує поведінку елемента  -  border-box(Обовʼязково)*/
    box-sizing: border-box;
  }
  
  a {
    /*  text-decoration:none - дозволяє прибрати підкреслювання */
    text-decoration: none;
  }
  
  ul,
  ol {
    /* декоративне маркування буде прибрано */
    list-style: none;
  }
  