  $logo-color: #000;
  $accent-color: #2196f3;
  $text-color: #212121;
  $added-text: #757575;
  $title-color: #fff;
  $team-background: #f5f4fa;
  $footer-background: #2f303a;
  $footer-numbers: rgba(255, 255, 255, 0.6);
  $header-line: #ececec;
