* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
}
a {
  text-decoration: none;
}
.conteiner {
  width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}
.navigation {
  display: flex;
  align-items: center;
  height: 80px;
}
.logo {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  color: #2196f3;
}
.span {
  color: #000000;
}
.nav-ul {
  font-family: Roboto;
  font-weight: Medium;
  font-size: 14px;
  display: flex;
  margin-left: 50px;
  align-items: center;
}
.nav-li {
  margin: 20px;
  color: #212121;
}
.nav-li:hover {
  color: #2196f3;
  cursor: pointer;
    transition: 250ms;
}
.nav-li-stydio{
      color: #2196f3;
}
.nav-li-a-stydio{
color: #2196f3;
position: relative;
}
.nav-li-a-stydio::after{
  content:"" ;
  display: block;
  position:absolute;
  width: 100%;
  height: 4px;
  top: 44px;
  background-color: #2196f3;
  border-radius: 2px;
  transition:top 250ms,transform 250ms;
}
.nav-li-a-stydio:hover::after{
top: 41px;
transform: scale(1.2);
}
.a-nav {
  color: #212121;
}
.a-nav:hover {
  color: #2196f3;
  cursor: pointer;
    transition: 250ms;
}
.info {
  font-family: Roboto;
  font-weight: Medium;
  font-size: 14px;
  display: flex;
  margin-left: 250px;
  align-items: center;
}
.info-li {
  margin: 20px;
  display: flex;
  align-items: center;
}
.info-li:hover{
  fill: #2196F3;
  color: #2196F3;
    transition: 250ms;
}
.info-li-a {
  display: flex;
  align-items: center;
  color: #757575;
  transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.info-li-a:hover {
  color: #2196f3;
  cursor: pointer;
    .svg-envelope{
      fill: #2196F3;
    }
    .svg-smartphone{
      fill: #2196F3;
    }
}
.svg-envelope{
  width:18px ;
  height:14px ;
  margin-right: 10px;
  fill: #757575;
transition: fill 250ms;
}
.svg-envelope:hover{
  fill: #2196F3;
  .info-li-a{
    color: #2196F3;
  }
}
.svg-smartphone{
width: 18px;
height: 14px;
margin-right: 10px;
  fill: #757575;
transition:  fill 250ms;
}

.svg-smartphone:hover{
fill: #2196F3;
}