* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
}
a {
  text-decoration: none;
}
.conteiner__portfolio {
  width: 480px;
  margin: 0 auto;
  padding: 0 15px;
  @media screen and (min-width:768px) {
    width: 768px;
  }
  @media screen and (min-width:1200px) {
      width: 1170px;
  }
  
}
.navigation__portfolio {
  display: flex;
  align-items: center;
  height: 80px;
}
.logo__webstudio {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  color: #2196f3;
}
.span__webstudio {
  color: #000000;
}
.nav__ul__port {
  font-family: Roboto;
  font-weight: Medium;
  font-size: 14px;
  display: flex;
  margin-left: 50px;
  align-items: center;
}
.nav__li {
  margin: 20px;
  color: #212121;
  font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
  transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__li:hover {
  color: #2196f3;
  cursor: pointer;
}
.a__nav {
  color: #212121;
  transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.a__nav:hover {
  color: #2196f3;
  cursor: pointer;
}
.nav__li__port {
  color: #2196f3;
}
.nav__a__portfolio {
  color: #2196f3;
  position: relative;
}
.nav__a__portfolio::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  top: 44px;
  background-color: #2196f3;
  border-radius: 2px;
  transition: top 250ms, transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.nav__a__portfolio:hover::after {
  top: 41px;
  transform: scale(1.2);
}
.contacts {
  font-family: Roboto;
  font-weight: Medium;
  font-size: 14px;
  display: flex;
  margin-left: 250px;
  align-items: center;
}
.contacts__li {
  margin: 20px;
  display: flex;
  align-items: center;
  transition:fill 250ms cubic-bezier(0.4, 0, 0.2, 1),color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__li:hover {
  fill: #2196f3;
  color: #2196f3;
}
.contacts__li__a {
  display: flex;
  align-items: center;
  color: #757575;
  transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
}
.contacts__li__a:hover {
  color: #2196f3;
  cursor: pointer;
  
}
.contacts__svg__envelope{
  width:18px ;
  height:14px ;
  margin-right: 10px;
  fill: #757575;
transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__svg__envelope:hover{
  fill: #2196F3;
  .contacts__li__a{
    color: #2196F3;
  }
}
.contacts__svg__envelope:hover {
  fill: #2196f3;
}
.contacts__svg__smartphone{
width: 18px;
height: 14px;
margin-right: 10px;
  fill: #757575;
transition:  fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__svg__smartphone:hover{
fill: #2196F3;
}
.contacts__li__a:hover {
  color: #2196f3;
  cursor: pointer;
    .contacts__svg__envelope{
      fill: #2196F3;
    }
    .contacts__svg__smartphone{
      fill: #2196F3;
    }
}
.footer__svg__all__2 {
  fill: #ffffff;
}
.footer__svg__ul__2 {
  display: flex;
}
.footer__li__svg__s4__2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: #3d454c;
  border-radius: 50%;
}
.footer__li__svg__s4__2:hover .footer__svg__all__2 {
  fill: #ffffff;
}
.footer__a__svg__s4__2 {
  text-decoration: none;
  padding: 12px;
  padding-top: 15px;
  transition:background-color 500ms cubic-bezier(0.4, 0, 0.2, 1),border-radius 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__li__svg__s4__2:hover {
  background-color: #2196f3;
  border-radius: 50%;
}
.footer__li__svg__s4__2:not(:last-child) {
  margin-right: 10px;
}
.logo__2__webstudio {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  color: #2196f3;
}
.span__2__webstudio {
  color: #ffffff;
}
.address__portfolio {
  margin-top: 20px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  color: #ffffff;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */
  letter-spacing: 0.03em;
  color: #ffffff;
}
.address__li__a__port {
  color: #ffffff99;
}
.address__li__a__port:hover {
  color: #ffffff;
  cursor: pointer;
}
.mail__port {
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  margin-top: 10px;
}
.tel__port {
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  margin-top: 10px;
}
.footer__port {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
.svg-all {
  fill: #afb1b8;
}
.svg__instagram__port {
  width: 20px;
  height: 20px;
}
.svg__twitter__port {
  width: 20px;
  height: 20px;
}
.svg__facebook__port {
  width: 20px;
  height: 20px;
}
.svg__linkedin__port {
  width: 20px;
  height: 20px;
}
.h2__foot__svg__port {
  /* приєднуйтесь */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  padding-bottom: 20px;
}
.div__foot__port {
  display: flex;
}
.div__foot__x2__port {
  margin-right: 70px;
}
.header__port {
  border-bottom: 1px solid #ececec;
}
.footer__div__rossulka__port {
  margin-left: 93px;
}
.rosulka__p__port {
  width: 207px;
  height: 16px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}
.rosulka__input__port {
  margin-top: 20px;
  width: 358px;
  height: 50px;
  border: 1.5px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: #2f303a;
  padding-left: 16px;
}

.rosulka__input__port:focus {
  outline: 0px solid;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}
.rosulka__button__port {
  margin-left: 12px;
  margin-top: 20px;
  width: 200px;
  height: 50px;
  background-color: #2196f3;
  position: absolute;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  align-items: center;
  color: #ffffff;
  border-radius: 4px;
  transition: box-shadow 500ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-right: 28px;
}
.rosulka__button__port:hover {
  -webkit-box-shadow: 1px 0px 24px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 0px 24px -3px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 0px 24px -3px rgba(0, 0, 0, 0.75);
  cursor: pointer;
}
.svg__send__port {
  width: 24px;
  height: 24px;
  align-items: center;
  position: absolute;
  margin-left: 10px;
  margin-top: 2px;
}
.a__button__footer__port {
  align-items: center;
}
/* ------------------------------------------------------------------------------------------------------------- */
.works {
  margin-top: 94px;
  margin-bottom: 94px;
}
.works-ul{
display: flex;
justify-content: center;
margin-top: 94px;
margin-bottom: 50px;

}
works-li{

// padding-top: 6px;
// padding-left: 22px;

}
.works-li:not(:first-child){
margin-left: 8px;
}
.s1-li1{
// width: 73px;
// height: 38px;
// background-color: #2196F3;
// padding-left: 25px;
}
.works-btn{
  display: block;
  background-color: #F5F4FA;
border-radius: 4px;
color: #212121;
text-align: center;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 26px;
letter-spacing: 0.48px;
padding: 6px 22px 6px 22px;
transition:box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),color 250ms,background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.works-btn-active{
padding: 6px 25px 6px 25px;
color: #212121;
  background-color: #F5F4FA;
}
.works-btn:hover{
  cursor: pointer;
  background-color: #2196F3;
  color: #ffffff;
  box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
}
.galerry{
    display: grid;
    grid-template-columns: repeat(3,370px);
    grid-template-rows: repeat(3,404px);
    gap: 30px;
}
.galerry-div-p{
padding: 20px 24px;
}
.galerry-img{
width: 370px;
height: 294px;
}
.img-and-p{
  position: relative;
  overflow: hidden;
}
.gallery-img-p{
  position: absolute;
 color: #FFF;
font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 28px;
letter-spacing: 0.54px;
top: 0;
right: 0;
padding: 63px 24px 63px 24px;
background: rgba(33, 150, 243, 0.90);
transform:translateY(100%);
opacity: 0;
transition:transform 250ms cubic-bezier(0.4, 0, 0.2, 1),opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .galerry-li:hover .gallery-img-p{
    transform:translateY(0%);
    opacity: 1;
  }
.galerry-p{
margin-bottom: 4px;
color: #212121;
font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 36px;
letter-spacing: 1.08px;
}
.galerry-p1{
color: #757575;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 187.5% */
letter-spacing: 0.48px;
}
.galerry-li{
    border: 1px solid #EEE;
background: #FFF;
transition:box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
&:hover{
box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 1px 4px 6px 0px rgba(0, 0, 0, 0.16);
}
}