.section3 {
  display: none;
  @media screen and (min-width: 768px) {
  }
  @media screen and (min-width: 1199px) {
    padding-bottom: 94px;
    display: flex;
  }
}
.h2-section3 {
  font-family: Roboto;
  font-weight: Bold;
  font-size: 36px;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.ul-section3 {
  display: flex;
}
.li-section3 {
  margin: 10px;
}
.s3-div {
  position: relative;
  width: 370px;
  margin: 0 auto;
}
.s3-p {
  background-color: #2f303acc;
  position: absolute;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  bottom: 0px;
  width: 370px;
}
.s3-p-1 {
  padding: 27px 107px;
}
.s3-p-2 {
  padding: 27px 105px;
}
.s3-p-3 {
  padding: 27px 90px;
}
.img-section3 {
  width: 370px;
  height: 294px;
  display: block;
}
